HomeBack/gdrive.py
HomeBack/settings.yaml
HomeBack/HomeBack.py
ForCron/HomeBack/BK.sh
ForCron/HomeBack/Hback.py.bk
ForCron/HomeBack/Hback.sh.bk
ForCron/HomeBack/Hback.sh
ForCron/HomeBack/Hback.py
ForCron/HomeBack/job.sh
ForCron/HomeBack/job.sh.bk
ForCron/HomeBack/client_secret.json
ForCron/HomeBack/.env
HomeBack/ESTE.py
SPEC-OS/node_modules
SPEC-OS/Start.py.bk.Tk
SPEC-OS/Start.py.bk
SPEC-OS/Start.New
SPEC-OS/.data/spec-os.sh.gpg
SPEC-OS/.data/.ALLDONE1.sh
SPEC-OS/.data/.ALLDONE.sh
SPEC-OS/.data/Wmenu.sh
job.sh
job.py
prueba.sh
/HomeBack/LOBORRASCUANDOTERMINES.txt
/HomeBack/home-backup.log
