HomeBack/credentials_module.json
job.sh
job.py
SPEC-OS/Start.New
SPEC-OS/Start.py.bk.Tk
SPEC-OS/node_modules
SPEC-OS/Start.py.bk
prueba.sh
HomeBack/.gitignore
SPEC-OS/.data/.ALLDONE1.sh
ForCron/HomeBack/client_secret.json
ForCron/HomeBack/credentials_module.json
HomeBack/.env
HomeBack/LOBORRASCUANDOTERMINES.txt
ForCron/HomeBack/.env
ForCron/HomeBack/HomeBack.py
ForCron/HomeBack/gdrive.py
ForCron/HomeBack/settings.yaml
HomeBack/HomeBack.py
HomeBack/gdrive.py
HomeBack/settings.yaml
HomeBack/__pycache__
ForCron/HomeBack/__pycache__
